article {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
}

article img {
  width: 200px;
}

.tojas {
  flex: 0 0 30%;
  height: 60vh;
  border: 1px black solid;
}

.tojas3 {
  flex: 0 0 91%;
  border: 1px black solid;
}

